.category {
  border: 1px solid;
  margin: 20px;
  padding: 12px;
}

.category-info {
  margin-top: 2px;
}

.category-input {
  padding: 5px;
  height: 42px;
  width: 100%;
}

.category-save {
  margin-left: 10px;
  height: 42px;
}
